/* *{
  border: 1px solid red
} */

.del {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
}

.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 2px solid #211a21;
}

.is-complete {
  text-decoration: line-through;
}
