<div class="container-fluid">
  <div className="row">
    <div className="col topWindow mt-1 text-secondary">
      <h3>Hello, Peyton.</h3>
    </div>
  </div>
  <!-- <div className="row justify-content-between mt-1"> -->
    <!-- <div className="col-1 midWindow text-success"> -->
      <!-- <h4 className="mt-2"><Clock /></h4> -->
    <!-- </div> -->
    <!-- <div className="col-2 midWindow"> -->
       <!-- <Weather
              weather={this.state.weather}
              main={this.state.main}
              details={this.state.details}
            /> -->
    <!-- </div> -->
  <!-- </div> -->
  <app-todos></app-todos>
  <marquee className="bottomWindow text-center fixed-bottom mb-1">
    <!-- <Quote quote={this.state.quote} /> -->
    test
  </marquee>
</div>

<!-- <div class="row justify-content-center">
  <div class="col-6 text-center">
    <button class="btn btn-primary mt-1">INSPIRATION</button>
  </div>
 </div> -->